.mat-mdc-raised-button:not(:disabled), .mat-mdc-outlined-button:not(:disabled) {
  padding: 0 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
}

.mat-mdc-icon-button {
  border-radius: 50%;
  padding: 8px;
}

.mat-mdc-outlined-button.mat-warn {
  --mdc-outlined-button-label-text-color: #d32f2f;
  --mdc-outlined-button-outline-color: #d32f2f;
}