@use "./mat-button-overrides";
@use "./mat-card-overrides";
@use "@angular/material" as mat;

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$magenta-palette,
    ),
  )
);

:root {
  @include mat.all-component-themes($my-theme);
}
:root {
  --mat-icon-color: #fff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}

.auth__container {
  mat-card-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-block-end: 2rem;
  }

  mat-card-subtitle {
    text-align: center;
    padding-inline: 0.5rem;
    margin-block-end: 1rem;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }

  .button {
    width: 100%;
    font-size: 1.15rem;
    padding-block: 1.5rem;
    margin-block-start: 1.5rem;
  }

  #invisibility-icon {
    color: #000;
  }
}

// Success Snackbar
.mat-mdc-snack-bar-container.snackbar-error .mat-mdc-snackbar-surface {
  background-color: #9e2927;
  color: #fff;
}

.mat-mdc-snack-bar-container.snackbar-success .mat-mdc-snackbar-surface {
  background-color: #2d6f30;
  color: #fff;
}