<div class="header__container">
  <div class="header__headings">
    <span class="header__headings-title title">{{ pageTitle }}</span>
    <span class="header__headings-subtitle subtitle">{{ pageSubtitle }}</span>
  </div>
  <div class="header__actions">
    @for (action of pageActions; track action.label) {
      <button
        class="header__action-button"
        mat-stroked-button
        (click)="onActionClick(action.label)"
      >
        <mat-icon color="primary">{{ action.icon }}</mat-icon>
        {{ action.label }}
      </button>
    }
  </div>
</div>
