<div class="register__container">
  <div class="register__header">
    <mat-icon color="primary">flight_takeoff</mat-icon>
    <span class="register__title">Travel Genie</span>
  </div>
  <div class="register__description">
    <span class="register__description-title">Your AI Travel Planning Assistant</span>
    <span class="register__description-text">Let Artificial Intelligence create personalized travel itineraries, discover hidden gems, and 
      plan unforgettable adventures tailored just for you.
    </span>
  </div>

  <div class="register__actions">
    <div class="register__actions__buttons">
      <button 
        mat-stroked-button 
        color="primary"
        (click)="handleRegister()"
      >
        Get Started
      </button>
      <button 
        mat-stroked-button 
        color="primary"
        (click)="goToLogin()"
      >
        Log In
      </button>
    </div>
    <span class="register__actions__text">Planning adventures in 195+ countries</span>
  </div>
</div>