.register {
  &__container {
    background: linear-gradient(135deg, #3db5c5 20%, #e0b471 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    padding: 0 15%;
    height: 100vh;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;

    mat-icon {
      font-size: 4rem;
      height: 4rem;
      width: 4rem;
    }
  }

  &__title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;

    &-title {
      font-size: 2.5rem;
      font-weight: bold;
    }

    &-text {
      font-size: 1.25rem;
      line-height: 1.5;
      font-weight: 600;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    &__register {
      display: flex;
      gap: 1rem;
      align-items: center;
      button {
        font-size: 1.25rem;
        font-weight: 600;
        border-radius: 0.5rem;
        letter-spacing: 0.1rem;
        color: #000;
      }

      &-text {
        font-size: 0.75rem;
        font-weight: 600;
      }
    }

    &__login {
      button {
        font-weight: 600;
        border-radius: 0.5rem;
        letter-spacing: 0.1rem;
        color: #000;
      }

      &-text {
        font-size: 0.75rem;
        font-weight: 600;
      }
    }
  }
}
